{% extends 'base.html' %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
<section class="message-section">
    <div class="message-card success">
        <h2 class="message-title">Пароль изменён</h2>
        <p class="message-text">
            🎉 Поздравляем! Вы успешно изменили пароль своего аккаунта.
        </p>
        <p class="message-text">
            Используйте его для <a href="{% url 'users:login' %}">входа в систему</a>.
        </p>
        <a href="{% url 'users:login' %}" class="message-button">Войти</a>
    </div>
</section>
{% endblock %}