{% autoescape off %}
Здравствуйте, {{ user.get_username }}!

Вы получили это письмо, потому что запросили сброс пароля для вашего аккаунта на {{ site_name }}.

Пожалуйста, перейдите по следующей ссылке и установите новый пароль:
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо — ваш пароль останется прежним.

Спасибо, что пользуетесь нашим сайтом!
С уважением,
Команда {{ site_name }}
{% endautoescape %}